.c1-0{
	background-color: #32292f
}
.c1-1{
	background-color: #575366
}
.c1-2{
	background-color: #6e7dab
}
.c1-3{
	background-color: #5762d5
}
.c1-4{
	background-color: #d1e3dd
}
#----
.c2-0{
	background-color: #14281d
}
.c2-1{
	background-color: #355834
}
.c2-2{
	background-color: #6e633d
}
.c2-3{
	background-color: #c2a878
}
.c2-4{
	background-color: #f1f5f2
}
#----
.c3-0{
	background-color: #ffffff
}
.c3-1{
	background-color: #455a64
}
.c3-2{
	background-color: #00171f
}
.c3-3{
	background-color: #3d8901
}
.c3-4{
	background-color: #ff5722
}
#----
.c4-0{
	background-color: #ff0000
}
.c4-1{
	background-color: #a81313
}
.c4-2{
	background-color: #2e2e2e
}
.c4-3{
	background-color: #1c1c1c
}
.c4-4{
	background-color: #0a0a0a
}